In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('Data/where_they_studied.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Columns: 300 entries, Unnamed: 0 to Universidad Nacional Experimental Francisco de Miranda
dtypes: float64(291), int64(1), object(8)
memory usage: 229.8+ KB

In [29]:
df.head(10)

,Unnamed: 0,Unnamed: 0.1,Universidad de Guayaquil,Universidad de Las Américas (EC),Universidad Politécnica Salesiana,Universidad Técnica Particular de Loja,Universidad Central del Ecuador,UNIVERSIDAD UTE,Universidad de las Fuerzas Armadas - ESPE,Universidad Internacional del Ecuador,...,Universidad Tecnológica de Bolívar,Universidad del Valle (CO),Bond University,University of Westminster,Rollins College,University of Miami Herbert Business School,Universidad Austral de Chile,Universidad de Los Lagos,Universidad de Santiago de Chile,Universidad Nacional Experimental Francisco de Miranda
0,0,CORPORACION FAVORITA C.A.,40.0,37.0,35.0,31.0,30.0,30.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,80.0,NaN,17.0,13.0,10.0,11.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,CORPORACION EL ROSADO,217.0,NaN,27.0,24.0,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,HIDALGO E HIDALGO,12.0,NaN,NaN,11.0,4.0,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,OTECEL,5.0,4.0,NaN,3.0,6.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,PROCESADORA NACIONAL DE ALIMENTOS C.A. PRONACA,97.0,50.0,28.0,45.0,95.0,61.0,67.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,INDUSTRIAL PESQUERA SANTA PRISCILA,102.0,NaN,17.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,HOLCIM ECUADOR,47.0,4.0,16.0,NaN,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,TIENDAS INDUSTRIALES ASOCIADAS TIA,77.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,"UNION CEMENTERA NACIONAL, UCEM",5.0,NaN,8.0,NaN,4.0,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.fillna(0, inplace=True)
df.head()

,Unnamed: 0,Unnamed: 0.1,Universidad de Guayaquil,Universidad de Las Américas (EC),Universidad Politécnica Salesiana,Universidad Técnica Particular de Loja,Universidad Central del Ecuador,UNIVERSIDAD UTE,Universidad de las Fuerzas Armadas - ESPE,Universidad Internacional del Ecuador,...,Universidad Tecnológica de Bolívar,Universidad del Valle (CO),Bond University,University of Westminster,Rollins College,University of Miami Herbert Business School,Universidad Austral de Chile,Universidad de Los Lagos,Universidad de Santiago de Chile,Universidad Nacional Experimental Francisco de Miranda
0,0,CORPORACION FAVORITA C.A.,40.0,37.0,35.0,31.0,30.0,30.0,28.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,80.0,0.0,17.0,13.0,10.0,11.0,18.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,CORPORACION EL ROSADO,217.0,0.0,27.0,24.0,11.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,HIDALGO E HIDALGO,12.0,0.0,0.0,11.0,4.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,OTECEL,5.0,4.0,0.0,3.0,6.0,3.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
del df['Unnamed: 0']
df.rename( columns={'Unnamed: 0.1': 'NOMBRE'} , inplace=True)
df.head()

,NOMBRE,Universidad de Guayaquil,Universidad de Las Américas (EC),Universidad Politécnica Salesiana,Universidad Técnica Particular de Loja,Universidad Central del Ecuador,UNIVERSIDAD UTE,Universidad de las Fuerzas Armadas - ESPE,Universidad Internacional del Ecuador,Universidad Católica de Santiago de Guayaquil,...,Universidad Tecnológica de Bolívar,Universidad del Valle (CO),Bond University,University of Westminster,Rollins College,University of Miami Herbert Business School,Universidad Austral de Chile,Universidad de Los Lagos,Universidad de Santiago de Chile,Universidad Nacional Experimental Francisco de Miranda
0,CORPORACION FAVORITA C.A.,40.0,37.0,35.0,31.0,30.0,30.0,28.0,21.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,80.0,0.0,17.0,13.0,10.0,11.0,18.0,0.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CORPORACION EL ROSADO,217.0,0.0,27.0,24.0,11.0,0.0,0.0,0.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,HIDALGO E HIDALGO,12.0,0.0,0.0,11.0,4.0,0.0,4.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,OTECEL,5.0,4.0,0.0,3.0,6.0,3.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# quiero = df['Escuela Superior Politécnica del Litoral']
# quiero

0      14.0
1      86.0
2     123.0
3      12.0
4       0.0
      ...
93     37.0
94      0.0
95      3.0
96      4.0
97      0.0
Name: Escuela Superior Politécnica del Litoral, Length: 98, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Columns: 299 entries, NOMBRE to Universidad Nacional Experimental Francisco de Miranda
dtypes: float64(291), object(8)
memory usage: 229.0+ KB

In [34]:
df.to_csv('clean_where_they_studied.csv', index=False)