In [14]:
import pandas as pd

In [15]:
df_universities = pd.read_csv('./Datasets/universidades.csv', sep=';')

In [24]:
df_universities.head()

,DENOMINACION,FINANCIAMIENTO,CATEGORIA,NOMBRE AUTORIDAD,TELEFONO INSTITUCIONAL,CORREO ELECTRONICO,PROVINCIA,CIUDAD,DIRECCION
0,ESCUELA POLITECNICA\nNACIONAL,PUBLICA,A,JAIME ALFONSO\nCALDERON SEGOVIA,2507144 / 2508959,correo.general@epn.edu.ec,PICHINCHA,QUITO,LADRON DE GUEVARA E-11-253
1,ESCUELA SUPERIOR POLITECNICA DE CHIMBORAZO,PUBLICA,B,ROSA ELENA PINOS NEIRA,03 2 998-200,info@live.espoch.edu.ec,CHIMBORAZO,RIOBAMBA,PANAMERICANA SUR KM1 1/2 RIOBAMBA ECUADOR
2,ESCUELA SUPERIOR POLITECNICA AGROPECUARIA DE M...,PUBLICA,C,QUINCHE LEONARDO FELIX LOPEZ,"05-2 685-134/156 , ext.\n114, 115; 5-2685048/035",espam@espam.edu.ec,MANABI,CALCETA,10 DE AGOSTO 82 Y GRANDA CENTENO
3,UNIVERSIDAD CENTRAL DEL ECUADOR,PUBLICA,B,FERNANDO EFRAIN SEMPERTEGUI ONTANEDA,2226080 /2521-590,rectorado@ucee.edu.ec; fercempt@viociencias.ce...,PICHINCHA,QUITO,"CIUDADELA UNIVERSITARIA, AV. AMERICA Y PEREZ G..."
4,UNIVERSIDAD DE GUAYAQUIL,PUBLICA,D,HECTOR ROBERTO CASSIS MARTINEZ,"04 2281559, 2296580",ugrector@uge.edu.ec,GUAYAS,GUAYAQUIL,"CIUDADELA UNIVERSITARIA, SALVADOR ALLENDE Y MA..."

In [36]:
df_universities['DENOMINACION'].head()

0                         ESCUELA POLITECNICA NACIONAL
1           ESCUELA SUPERIOR POLITECNICA DE CHIMBORAZO
2    ESCUELA SUPERIOR POLITECNICA AGROPECUARIA DE M...
3                      UNIVERSIDAD CENTRAL DEL ECUADOR
4                             UNIVERSIDAD DE GUAYAQUIL
Name: DENOMINACION, dtype: object

# Cleaning the \n in the dataset

In [29]:
def clean_denominacion(row):
    row['DENOMINACION'] = row['DENOMINACION'].strip().replace('\n', ' ')
    return row

In [34]:
df_universities = df_universities.apply(clean_denominacion, axis=1)

In [35]:
df_uni_location = df_universities[['DENOMINACION','PROVINCIA', 'CIUDAD']]

In [32]:
df_uni_location.head()

                                        DENOMINACION   PROVINCIA     CIUDAD
0                       ESCUELA POLITECNICA NACIONAL   PICHINCHA      QUITO
1         ESCUELA SUPERIOR POLITECNICA DE CHIMBORAZO  CHIMBORAZO   RIOBAMBA
2  ESCUELA SUPERIOR POLITECNICA AGROPECUARIA DE M...      MANABI    CALCETA
3                    UNIVERSIDAD CENTRAL DEL ECUADOR   PICHINCHA      QUITO
4                           UNIVERSIDAD DE GUAYAQUIL      GUAYAS  GUAYAQUIL

In [33]:
df_uni_location['PROVINCIA'].nunique()

18

In [50]:
df_uni_location[df_uni_location['DENOMINACION'] == 'UNIVERSIDAD DE LAS AMERICAS']

                   DENOMINACION  PROVINCIA CIUDAD
36  UNIVERSIDAD DE LAS AMERICAS  PICHINCHA  QUITO

It is important to get the information of where people studied

In [53]:
where_they_studied = pd.read_csv('./Datasets_preprocessing/Data/where_they_studied.csv', index_col=False)

In [54]:
where_they_studied = where_they_studied.iloc[:, 1:]
where_they_studied = where_they_studied.fillna(0)
where_they_studied.head()

,Unnamed: 0.1,Universidad de Guayaquil,Universidad de Las Américas (EC),Universidad Politécnica Salesiana,Universidad Técnica Particular de Loja,Universidad Central del Ecuador,UNIVERSIDAD UTE,Universidad de las Fuerzas Armadas - ESPE,Universidad Internacional del Ecuador,Universidad Católica de Santiago de Guayaquil,...,Universidad Tecnológica de Bolívar,Universidad del Valle (CO),Bond University,University of Westminster,Rollins College,University of Miami Herbert Business School,Universidad Austral de Chile,Universidad de Los Lagos,Universidad de Santiago de Chile,Universidad Nacional Experimental Francisco de Miranda
0,CORPORACION FAVORITA C.A.,40.0,37.0,35.0,31.0,30.0,30.0,28.0,21.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CONSORCIO ECUATORIANO DE TELECOMUNICACIONES C...,80.0,0.0,17.0,13.0,10.0,11.0,18.0,0.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CORPORACION EL ROSADO,217.0,0.0,27.0,24.0,11.0,0.0,0.0,0.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,HIDALGO E HIDALGO,12.0,0.0,0.0,11.0,4.0,0.0,4.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,OTECEL,5.0,4.0,0.0,3.0,6.0,3.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Bring the province of every company